Package: com.lkemitchll.statustime+
Name: StatusTime+
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Luke Mitchell
Author: Luke Mitchell
Section: Tweaks
Version: 0.0.1-70
Installed-Size: 40
