Package: com.lkemitchll.statustime+
Name: StatusTime+
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Customise the Status Bar clock with custom strings.
Maintainer: Luke Mitchell
Author: Luke Mitchell
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 140
