Package: com.lkemitchll.statustime+
Name: StatusTime+
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: Customise the Status Bar clock with custom strings.
Maintainer: Luke Mitchell
Author: Luke Mitchell
Section: Tweaks
