<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lkemitchll.statustime+prefs</string>
			<key>key</key>
			<string>STIsEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
    	</dict>
    	<dict>
      		<key>cell</key>
      		<string>PSSwitchCell</string>
      		<key>default</key>
      		<false/>
      		<key>defaults</key>
     		<string>com.lkemitchll.statustime+prefs</string>
    		<key>key</key>
      		<string>STShowIPAddress</string>
      		<key>label</key>
      		<string>Show Local IP</string>
      		<key>alternateColors</key>
      		<true/>
      		<key>PostNotification</key>
      		<string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
    	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>custom clock format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.lkemitchll.statustime+prefs</string>
			<key>default</key>
			<string>hh:mm</string>
			<key>key</key>
			<string>STTime</string>
			<key>label</key>
			<string>Format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.lkemitchll.statustime+prefs</string>
      <key>default</key>
      <real>60</real>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>STRefresh</string>
			<key>label</key>
			<string>Refresh Time Every</string>
      <key>PostNotification</key>
      <string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
			<key>validTitles</key>
			<array>
				<string>Second</string>
				<string>Minute (default)</string>
			</array>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>60</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save</string>
			<key>action</key>
			<string>STSave</string>
		</dict>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>NOTE: To change interval switch RAM OFF then ON</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <false/>
      <key>defaults</key>
      <string>com.lkemitchll.statustime+prefs</string>
      <key>key</key>
      <string>STShowFreeMemory</string>
      <key>label</key>
      <string>Show Free RAM</string>
      <key>alternateColors</key>
      <true/>
      <key>PostNotification</key>
      <string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
    </dict>
	  <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.lkemitchll.statustime+prefs</string>
      <key>default</key>
      <real>10</real>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>STRAMInterval</string>
			<key>label</key>
			<string>Refresh RAM Every</string>
      <key>PostNotification</key>
      <string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
			<key>validTitles</key>
			<array>
				<string>Second</string>
				<string>10 Seconds (default)</string>
        <string>30 Seconds</string>
			</array>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>10</real>
        <real>30</real>
			</array>
		</dict>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <false/>
      <key>defaults</key>
      <string>com.lkemitchll.statustime+prefs</string>
      <key>key</key>
      <string>STShowOnLock</string>
      <key>label</key>
      <string>Show on Lock Screen</string>
      <key>alternateColors</key>
      <true/>
      <key>PostNotification</key>
      <string>com.lkemitchll.statustime+prefs/STSettingsChanged</string>
    </dict>
		<dict>
      <key>cell</key>
      <string>PSGroupCell</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSButtonCell</string>
      <key>label</key>
      <string>Formatting Guide</string>
      <key>action</key>
      <string>STFormatGuide</string>
      <key>icon</key>
      <string>format.png</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>

        Luke Mitchell - v0.0.7
        Licensed under GPL v3
      </string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSButtonCell</string>
      <key>label</key>
      <string>Donate</string>
      <key>action</key>
      <string>STDonate</string>
      <key>icon</key>
      <string>paypal.png</string>
    </dict>
    <dict>
      <key>cell</key>
      <string>PSButtonCell</string>
      <key>label</key>
      <string>Source</string>
      <key>action</key>
      <string>STSource</string>
      <key>icon</key>
      <string>source.png</string>
    </dict>
	</array>
	<key>title</key>
	<string>StatusTime+</string>
</dict>
</plist>
